Django
pdfkit
numpy
joblib
jinja2 
pdfplumber
pandas
weasyprint
scikit-learn
djangorestframework
django-cors-headers
transformers
spacy
typing
openai
tika
python-dotenv
configparser
langgraph
langchain
langchain-openai
langchain-core
langchain-experimental
tabulate
xgboost
category-encoders